*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
@font-face {
    font-family: "league";
    src: url("font/LeagueGothic-Regular-VariableFont_wdth.ttf"),   
}

@font-face {
    font-family: light;
    src: url(font/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "Fonte texto";
    src: url(font/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Fonte titulo";
    src: url(font/Inter_18pt-Bold.ttf);
}


@font-face {
    font-family: "Fonte titulo2";
    src: url(font/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: "Fonte titulo3";
    src: url(font/CreatoDisplay-Medium.otf);
}

@font-face {
  font-family: "Fonte";
  src: url(font/Barcelony.ttf);
}

.imagemFundo {
    background-image: url(img/influencers.png);
    height: 640px;
}
.tituloArtigo {
    color: white;
    font-family:"league";
    font-size: 65px;
    justify-self: center;
    justify-content: center;
    padding-top: 230px;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.subtituloArtigo {
    color: white;
    font-family:"Fonte texto";
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.escritoPor {
    color: white;
    font-family:"Fonte texto";
    font-size: 13px;
    margin-left: 1230px;
    padding-top: 250px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
    font-size: 40px;
    justify-self: center;
    margin-top: 70px;
    font-family: "Fonte titulo 2";
}
.sub{
    font-size: 20px;
    justify-self: center;
    font-family: "Fonte texto";
    text-align: center;
    margin-top: 10px;
}




h1 {
    justify-self: center;
    margin-top: 60px;
}

.tours {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 9px;
    margin-top: 20px;
    justify-items: center;
}

.tour {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 250px;
    height: 370px;
    align-items: center;
    justify-content: center;
}

.tour:hover {
    transform: translateY(-5px);
}

.tour img {
    width: 250px;
    height: 300px;
}

.tour h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.tour p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

footer {
    background-color: #0B1956;
    color: white;
    text-align: center;
    width: 100%;
    font-family: Arial, sans-serif;
    padding-bottom: 35px;
  }
  
  .conteudo-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .secao-footer {
    flex: 1;
    
    text-align: left;
  }
  
  .links ul {
    list-style: none;
    margin-left: 100px;
    line-height: 2.0;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-family: "Fonte texto";
  }
  
  .links li {
    margin: 10px 0;
  }

  /* EFEITOS DE HOVER */
  .links a:hover {
  font-family: "Fonte titulo";
}

/* FIM!!!! */
  
  .newsletter h3,
  .contato h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .newsletter p,
  .contato p {
    margin: 5px 0px;
    text-align: center;
    margin-bottom: 15px;
  }


 
  
  .contato {
    padding-right: 80px;
  }

  .newsletter {
    padding-left: 80px;
  }
  

  .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter input[type="email"] {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Fonte texto";
    text-align: left;
  }

  input::placeholder {
    color: white;
  }
  
  .newsletter button {
    padding: 7px 20px;
    color: white;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    font-family: "Fonte titulo";
  }

  /* EFEITOS DE HOVER */

  .newsletter button:hover {
    background-color: white;
    color:#0B1956;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

/* FIM!!!! */


  .secao-footer-contato{
    color: white;
    text-align: left;
    line-height: 2.5;
    margin-right: 80px;
    margin-left: 50px;
   }

   .secao-footer-contato h4 {
    font-family: "Fonte titulo2";
    margin-left: 20px;
  }

   .secao-footer-contato p img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .secao-footer-contato p {
    font-family: "Fonte texto";
    margin-left: 20px;
  }

  
  .divisoria {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 120px;
  }

  .divisoria1 {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .barra-escura-footer{
    background-color: #081446;
    height: 60px;
    width: 100%;
  }

  footer{
    margin-top: 40px;
  }
